apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-result
  labels:
    app: result
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: result
  template:
    metadata:
      labels:
        app: result
    spec:
      containers:
        - name: result
          image: "{{ .Values.result.image.repository }}:{{ .Values.result.image.tag }}"
          imagePullPolicy: Always
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL 
            seccompProfile:
              type: RuntimeDefault
          ports:
            - containerPort: {{ .Values.result.containerPort }} #8081

          livenessProbe:
            httpGet:
              path: /   
              port: {{ .Values.result.containerPort }}
            initialDelaySeconds: 10
            periodSeconds: 10

          readinessProbe:
            httpGet:
              path: /
              port: {{ .Values.result.containerPort }}
            initialDelaySeconds: 5
            periodSeconds: 5

          env:
            - name: POSTGRES_HOST
              value: "{{ .Values.postgres.host }}"
            - name: POSTGRES_PASSWORD
              value: "{{ .Values.postgres.password }}"
          resources:
{{ toYaml .Values.resources | indent 12 }}