name: CI-CD

on:
  push:
    branches: [ "staging" ]

permissions:
  id-token: write
  contents: read

jobs:

  build:
    runs-on: self-hosted

    steps:
    - name: Checkout code
      uses: actions/checkout@v4 

    - name: Set Docker to use Minikube
      run: eval $(minikube docker-env)

    - name: Build images inside Minikube
      run: |
        SERVICES=("vote" "result" "worker")
        TAG=${{ github.sha }}

        for SVC in "${SERVICES[@]}"; do 
          echo "Building image for $SVC"
          docker build --tag $SVC:$TAG ./$SVC 
        done

  test:
    runs-on: self-hosted
    needs: build

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      
      - name: Set PYTHONPATH
        run: echo "PYTHONPATH=$PYTHONPATH:$(pwd)/vote" >> $GITHUB_ENV
      
      - name: Install dependencies
        run: |
          pip install -r vote/requirements.txt
          pip install pytest

      - name: Run tests
        run: pytest -q  


  security-scan:
    runs-on: self-hosted
    needs: test

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Trivy
        run: |
          curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh | sudo sh -s -- -b /usr/local/bin

      - name: Trivy FS Scan
        run: trivy fs --exit-code 0 --severity HIGH,CRITICAL .


  deploy:
    runs-on : self-hosted
    needs: security-scan
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Use Minikube context
        run: kubectl config use-context minikube

      - name: Deploy with Helm to Minikube
        run: |
          helm upgrade --install vote-app ./helm/vote-app-chart \
            --namespace staging --create-namespace \
            --set vote.image.tag=${{ github.sha }} \
            --set result.image.tag=${{ github.sha }} \
            --set worker.image.tag=${{ github.sha }}
