name: CI-CD

on:
  push:
    branches: [ "staging" ]

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4 

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build image
      run: |
        SERVICES=("vote" "result" "worker")
        TAG=${{ github.sha }}

        for SVC in "${SERVICES[@]}"; do 
          echo "Building image for $SVC"
          docker buildx build \
            --cache-from=type=gha \
            --cache-to=type=gha,mode=max \
            --tag ${{ secrets.DOCKERHUB_USERNAME }}/$SVC:$TAG \
            --load \
            ./$SVC
        done 

    - name: Push Docker image
      run: | 
        SERVICES=("vote" "result" "worker")
        TAG=${{ github.sha }}

        for SVC in "${SERVICES[@]}"; do
          echo "Pushing $SVC...."
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/$SVC:$TAG
        done

  test:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      
      - name: Set PYTHONPATH
        run: |  
          echo "PYTHONPATH=$PYTHONPATH:$(pwd)/vote" >> $GITHUB_ENV
      
      - name: Install dependencies
        run: |
          pip install -r vote/requirements.txt
          pip install pytest

      - name: Run tests
        run: |
          pytest -q 


  security-scan:
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run Trivy scan on images
        uses: aquasecurity/trivy-action@master
        with: 
          image-ref: ${{ secrets.DOCKERHUB_USERNAME }}/vote:${{ github.sha }}
          format: 'table'
          exit-code: '0'
  deploy:
    runs-on: ubuntu-latest
    needs: security-scan

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
        
      - name: Update kubeconfig
        run : |
          aws eks update-kubeconfig --name eks-dev-cluster --region ${{ secrets.AWS_REGION }}

      - name: Deploy using Helm
        run : |
          helm upgrade --install vote-app ./helm/vote-app-chart \
          --namespace staging \
          --create-namespace \
          --set image.vote.tag=${{ github.sha }} \
          --set image.result.tag=${{ github.sha }} \
          --set image.worker.tag=${{ github.sha }}

  


