name: CI-CD

on:
  push:
    branches: [ "staging", "main"]

env:
  DOCKER_USER: ${{ secrets.DOCKERHUB_USERNAME }}

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4 

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}   

    - name: Build & Push images 
      run: |
        SERVICES=("vote" "result" "worker")
        TAG=${{ github.sha }}

        for SVC in "${SERVICES[@]}"; do 
          IMAGE_NAME="$DOCKER_USER/$SVC"
          FULL_IMAGE="$IMAGE_NAME:$TAG"
          echo " Building $SVC..."
          docker build -t $FULL_IMAGE ./$SVC
          echo " Pushing $SVC..."
          docker push $FULL_IMAGE
        done 

  test:
    runs-on: ubuntu-latest
    needs: build
    container:
      image: python:3.10-slim
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          pip install -r vote/requirements.txt
          pip install pytest
      - name: Run tests
        run: |
          touch vote/__init__.py
          export PYTHONPATH=$PYTHONPATH:.
          python -m pytest -q  

  security-scan:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v4
      - name: Install Trivy
        run: |
          curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh | sudo sh -s -- -b /usr/local/bin
      - name: Scan source
        run: trivy fs --exit-code 0 --severity HIGH,CRITICAL .

  deploy-and-verify:
    runs-on: ubuntu-latest
    needs: security-scan

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Start Minikube
        uses: medyagh/setup-minikube@latest
        with:
          addons: ingress
          cpus: 2
          memory: 4000m

      - name: Install Helm
        uses: azure/setup-helm@v3

      - name: Deploy Helm Chart
        run: |
          helm upgrade --install vote-app ./helm/vote-app-chart \
          --namespace dev --create-namespace \
          --set vote.image.repository=${{ secrets.DOCKERHUB_USERNAME }}/vote \
          --set vote.image.tag=${{ github.sha }} \
          --set result.image.repository=${{ secrets.DOCKERHUB_USERNAME }}/result \
          --set result.image.tag=${{ github.sha }} \
          --set worker.image.repository=${{ secrets.DOCKERHUB_USERNAME }}/worker \
          --set worker.image.tag=${{ github.sha }} \
        
      - name: Verify Pods
        run: |
          echo " Checking Pods status..."
          kubectl get pods -n dev


