name: CI-CD

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build & Push Docker images
      run: |
        SERVICES=("vote" "result" "worker")
        for SVC in "${SERVICES[@]}"; do
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/$SVC:latest ./$SVC
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/$SVC:latest
        done

    - name: Update Helm values with latest images
      run: |
        for SVC in vote result worker; do
          sed -i "s|tag:.*|tag: latest|g" helm-chart/$SVC/values.yaml
        done

    - name: Save kubeconfig
      run: |
        echo "${{ secrets.KUBECONFIG_BASE64 }}" | base64 --decode > ./kubeconfig
        mkdir -p ~/.kube
        mv kubeconfig ~/.kube/config

    - name: Install kubectl
      uses: azure/setup-kubectl@v4

    - name: Install Helm
      uses: azure/setup-helm@v4

    - name: Deploy using Helm
      run: |
        helm upgrade --install vote-app ./helm-chart \
          --namespace default --create-namespace

    - name: Verify rollout
      run: |
        kubectl rollout status deployment/vote-app --timeout=120s

