name: CI-CD

on:
  push:
    branches: [ "staging", "main"]

env:
  DOCKER_USER: ${{ secrets.DOCKERHUB_USERNAME }}

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4 

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}   

    - name: Build & Push images 
      run: |
        SERVICES=("vote" "result" "worker")
        TAG=${{ github.sha }}

        for SVC in "${SERVICES[@]}"; do 
          IMAGE_NAME="$DOCKER_USER/$SVC"
          FULL_IMAGE="$IMAGE_NAME:$TAG"
          echo " Building $SVC..."
          docker build -t $FULL_IMAGE ./$SVC
          echo " Pushing $SVC..."
          docker push $FULL_IMAGE
        done 

  test:
    runs-on: ubuntu-latest
    needs: build
    container:
      image: python:3.10-slim
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          pip install -r vote/requirements.txt
          pip install pytest
      - name: Run tests
        run: |
          export PYTHONPATH=$PYTHONPATH:$(pwd)
          pytest -q  


  security-scan:
    runs-on: ubuntu-latest
    needs: test

    steps:
      - uses: actions/checkout@v4

      - name: Install Trivy
        run: |
          curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh | sudo sh -s -- -b /usr/local/bin

      - name: Scan source
        run: trivy fs --exit-code 0 --severity HIGH,CRITICAL .


