name: CI-CD

on:
  push:
    branches: [ "staging" ]

permissions:
  id-token: write
  contents: read

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4 

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build image
      run: |
        SERVICES=("vote" "result" "worker")
        TAG=${{ github.sha }}

        for SVC in "${SERVICES[@]}"; do 
          echo "Building image for $SVC"
          docker buildx build \
            --cache-from=type=gha \
            --cache-to=type=gha,mode=max \
            --tag ${{ secrets.DOCKERHUB_USERNAME }}/$SVC:$TAG \
            --load \
            ./$SVC
        done 

    - name: Push Docker image
      run: | 
        SERVICES=("vote" "result" "worker")
        TAG=${{ github.sha }}

        for SVC in "${SERVICES[@]}"; do
          echo "Pushing $SVC...."
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/$SVC:$TAG
        done

  test:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      
      - name: Set PYTHONPATH
        run: |  
          echo "PYTHONPATH=$PYTHONPATH:$(pwd)/vote" >> $GITHUB_ENV
      
      - name: Install dependencies
        run: |
          pip install -r vote/requirements.txt
          pip install pytest

      - name: Run tests
        run: |
          pytest -q 


  security-scan:
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run Trivy scan on images
        uses: aquasecurity/trivy-action@master
        with: 
          image-ref: ${{ secrets.DOCKERHUB_USERNAME }}/vote:${{ github.sha }}
          format: 'table'
          exit-code: '0'

  deploy:
    runs-on : ubuntu-latest
    needs: security-scan
    steps:
      - uses: actions/checkout@v4

      - name: AWS Auth
        uses: aws-actions/configure-aws-credentials@v4
        with: 
           role-to-assume: arn:aws:iam::638596943032:role/GitHub-ActionsD
           aws-region: us-east-1

      - run: aws eks update-kubeconfig --name eks-dev-cluster --region us-east-1

      - run: |
          helm upgrade --install vote-app-staging ./helm/vote-app-chart \
            --namespace staging --create-namespace \
            --set vote.image.tag=${{ github.sha }} \
            --set result.image.tag=${{ github.sha }} \
            --set worker.image.tag=${{ github.sha }}




